doctype html
html
	head
		title ES Calculator
		link(href="../include/css/bootstrap.min.css" rel="stylesheet")
		link(href="../css/es-calculator.css" rel="stylesheet")
		script(src="../include/js/jquery-3.2.1.min.js")
		script(src="../include/js/bootstrap.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
		script(src="../controller/bundle.js")
	body(ng-app="ESCalculator")
		.loading
		.container
			.page-header.text-center
				h1 Ensemble Stars Calculator
				h5 *非穩定版本，可能有bug，結果僅供參考*
				h5 *建議使用電腦瀏覽器*
				h5 *尚無卡池技能判定*
				.btn-group(role="group" aria-label="menu")
					button.btn.btn-default(type="button" data-toggle="modal" data-target="#help") 說明書
					a.btn.btn-default(type="button" target="_blank" href="https://goo.gl/forms/Usv78ddp3nhfGP9M2") 問題回報
				.modal.fade#help(tabindex="-1" role="dialog" aria-labeledby="helpModal" aria-hidden="true")
					.modal-dialog(role="document")
						.modal-content
							.modal-header
								button.close(type="button" data-dismiss="modal" aria-label="Close") &times;
								h4.modal-title 使用說明
							.modal-body
								ol
									li.content-li "我的卡片"可以填入自己的卡片
									li.content-li 組隊區(紅組、黃組、藍組)可以自由設定隊員
									li.content-li 按自動組隊之後組好的三色隊伍會顯示在各自的組隊區
									li.content-li 填好的卡片可以按匯出存成txt檔，下次按匯入就可以讀取之前的卡片記錄
			div(ng-controller="CardGroup")
				ul.nav.nav-tabs(role="tablist")
					li.active(role="presentation")
						a(href="#card" role="tab" data-toggle="tab" ng-click="changecolor('gray')") 我的卡片
					li(role="presentation")
						a.red(href="#team" role="tab" data-toggle="tab" ng-click="changecolor('red')") 紅組
					li(role="presentation")
						a.blue(href="#team" role="tab" data-toggle="tab" ng-click="changecolor('blue')") 藍組
					li(role="presentation")
						a.yellow(href="#team" role="tab" data-toggle="tab" ng-click="changecolor('yellow')") 黃組
				.tab-content(ng-class="{'gray': 'gray-bg', 'red': 'red-bg', 'blue': 'blue-bg', 'yellow': 'yellow-bg'}[color]")
					.tab-pane.active#card(role="tabpanel")
						.alert.alert-danger.right-align.small-alert#arrangealert(role="alert") {{warning_msg}}
						.tablescroller-head
							table.table.table-bordered.text-center.white-bg
								caption.white-bg 
									.col-md-2
										span 共有
										input.form-control.input-sm#cardcount(ng-model="cardcount" type="number" min="1" max="500" ng-blur="changecardcount()" style="width:80px;")
										span 張卡
									.col-md-6
									.col-md-4
										.btn-group-sm.right-align(role="group" aria-label="cards-operation")
											input.custom-file-input(name="cardfile" type="file" id="uploadfile" placeholder="匯入" custom-file-change="upload")
											label.btn.btn-secondary.custom-file-label(for="uploadfile") 匯入
											button.btn.btn-secondary(type="button" ng-click="download()") 匯出
											button.btn.btn-secondary(type="button" ng-click="clear()") 清除
											button.btn.btn-secondary(type="button" ng-click="autoarrangeall()") 自動組隊
											select.form-control.input-sm(ng-model="groupstyle" type="text" style="width:120px;" option-value)
												option(value=3 selected) 三組合計最大
												option(value=2) 前兩組合計最大
												option(value=1) 第一組最大
								tbody
									tr
										td.col-md-1 編號
										td.col-md-2 角色
										td.col-md-2 卡片名稱
										td.col-md-1 星級
										td.col-md-1 突破
										td.col-md-3 數值
										td.col-md-1 活動倍卡
										td.col-md-1 編輯
						.tablescroller-line
						.tablescroller-head
							table.table.table-bordered.text-center.white-bg
								tbody
									tr(ng-repeat="card in cards track by $index")
										td.col-md-1 {{$index+1}}
										td.col-md-2
											select.form-control.input-sm(ng-model="card.character" type="text")
												option(value="" disabled selected) 選擇角色
												option(ng-repeat="character in characters") {{character}}
										td.col-md-2
											span 【
											input.form-control.input-sm(ng-model="card.cardname" type="text" placeholder="卡片名稱")
											span  】
										td.col-md-1
											input.form-control.input-sm(ng-model="card.star" type="number" min="1" max="5" style="padding:1px")
											span ★
										td.col-md-1
											select.form-control.input-sm(style="padding:1px;" ng-model="card.dupe" option-value)
												option(value=0) 零破
												option(value=1) 一破
												option(value=2) 二破
												option(value=3) 三破
												option(value=4) 滿破
										td.col-md-3
											.row.crowded-row
												.col-md-4.crowded-col
													input.form-control.wide.input-sm.red-bg(ng-model="card.red" type="number" min="0")
												.col-md-4.crowded-col
													input.form-control.wide.input-sm.blue-bg(ng-model="card.blue" type="number" min="0")
												.col-md-4.crowded-col
													input.form-control.wide.input-sm.yellow-bg(ng-model="card.yellow" type="number" min="0")
										td.col-md-1
											.checkbox.input-sm(style="padding: 0px; margin: 0px; height:20px;")
												label
													input(type="checkbox" ng-model="card.event")
													| 倍卡
										td.col-md-1.crowded-col
											.btn-group
												button(type="button" ng-click="addcard($index, true)").btn.btn-default.btn-xs
													span.glyphicon.glyphicon-plus
												button(type="button" ng-click="addcard($index, false)").btn.btn-default.btn-xs
													span.glyphicon.glyphicon-paste
												button(type="button" ng-click="removecard($index)").btn.btn-default.btn-xs
													span.glyphicon.glyphicon-minus
					.tab-pane#team(role="tabpanel")
						table.table.table-bordered.text-center.white-bg(ng-class="{'red': 'red-line', 'blue': 'blue-line', 'yellow': 'yellow-line', 'gray': 'gray-line'}[color]")
							tbody
								tr
									td.col-md-1
										span 三隊合計
									td.col-md-1
										span {{teams[color][0].total+teams[color][1].total+teams[color][2].total}}
									td.col-md-1
										span 前二合計 
									td.col-md-1
										span {{teams[color][0].total+teams[color][1].total}}
									td.col-md-8
						table.table.table-bordered.text-center.white-bg(ng-class="{'red': 'red-line', 'blue': 'blue-line', 'yellow': 'yellow-line', 'gray': 'gray-line'}[color]")
							tbody
								tr(ng-repeat="team in teams[color]")
									td.col-md-2
										.team-total(ng-model="team.total")
											span(ng-bind="team.total")
										.skill-name(ng-model="team.skillname")
											span(ng-bind="team.skillname")
										.skill-buff(ng-model="team.skillbuff")
											span(ng-bind="team.skillbuff")
											span %
									td.col-md-2(ng-repeat="member in team.members")
										.row
											.buff-card.col-md-4(style="padding: 1px;  line-height:30px;")
												.checkbox.input-sm(style="padding: 0px; margin: 0px; height:20px;")
													label
														input(type="checkbox" ng-model="member.event" ng-change="calculate()")
														| 倍卡
											.star.col-md-4(style="padding:1px;")
												input.form-control.input-sm(ng-model="member.star" type="number" min="1" max="5" style="padding:1px")
												span ★
											.card-count.col-md-4(style="padding:1px;")
												select.form-control.input-sm(style="padding:1px;" ng-model="member.dupe" ng-change="calculate()" option-value)
													option(value=0) 零破
													option(value=1) 一破
													option(value=2) 二破
													option(value=3) 三破
													option(value=4) 滿破
										.character
											select.form-control.input-sm(ng-model="member.character" type="text" ng-change="calculate()")
												option(value="" disabled selected) 選擇角色
												option(ng-repeat="character in characters") {{character}}
										.card-name
											span 【
											input.form-control.input-sm(ng-model="member.cardname" type="text" placeholder="卡片名稱")
											span  】
										.row.crowded-row
											.value(ng-class="{true: 'col-md-5 crowded-col', false: 'col-md-12'}[member.event]")
												input.form-control.wide.input-sm(ng-model="member.value" type="number" min="0" ng-change="calculate()")
											.value(ng-class="{true: 'col-md-2  crowded-col', false: 'hidden'}[member.event]")
												span.glyphicon.glyphicon-arrow-right.vertical-middle
											.value(ng-class="{true: 'col-md-5  crowded-col', false: 'hidden'}[member.event]")
												input.form-control.wide.input-sm(placeholder="{{member.value * (2 + member.dupe * 0.5)| floor}}" disabled)